### These files should get ignored no matter where they appear.

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# C stuff
*.o

# Windows stuff
*.obj
*.exe
*.lib

# Patch leaves these lying arround
*.orig
*.rej

# gcov stuff
*.gcno
*.gcov
*.gcda

# Autotools stuff
.deps
.dirstamp
Makefile
Makefile.in

# Libtool stuff
.libs
*.lo
*.la

# ctags stuff
TAGS

## The initial / makes these files only get ignored in particular directories.

# Stuff made by our makefiles
/libevent.pc
/libevent_pthreads.pc
/libevent_openssl.pc
/evconfig-private.h
/include/event2/event-config.h

# Autotools clutter in the top level
/aclocal.m4
/autom4te.cache
/configure
/config.cache
/config.log
/config.status
/config.h
/config.h.in
/stamp-h1
/stamp-h2
/libtool
/doxygen

# Autotools clutter that can be isolated in its own directory
/config-aux/libtool.m4
/config-aux/ltoptions.m4
/config-aux/ltsugar.m4
/config-aux/ltversion.m4
/config-aux/lt~obsolete.m4
/config-aux/compile
/config-aux/config.guess
/config-aux/config.sub
/config-aux/depcomp
/config-aux/install-sh
/config-aux/ltmain.sh
/config-aux/missing
/config-aux/test-driver

# Stuff made by our makefiles in subdirectories
/sample/dns-example
/sample/event-read-fifo
/sample/hello-world
/sample/http-server
/sample/le-proxy
/sample/signal-test
/sample/time-test

/test/bench
/test/bench_cascade
/test/bench_http
/test/bench_httpclient
/test/regress
/test/regress.gen.c
/test/regress.gen.h
/test/rpcgen-attempted
/test/test-dumpevents
/test/test-eof
/test/test-init
/test/test-ratelim
/test/test-time
/test/test-weof
/test/test-changelist
/test/test-fdleak

